@{
    ViewData["Title"] = "GetActorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of DVD stocked by shop</h1>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@


<div class="container">
    <form action="@Url.Action("GetActorDetails", "NormalUser")" method="get">
        <div class="row">
                 <div class="col-sm">
                <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a actor surname</option>
                        @foreach (var name in  ViewBag.actorName)
                        {
                            <option value="@name.ActorSurname"> @name.ActorFirstName @name.ActorSurname</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@if (ViewBag.name == null)
{
    <h2>Not Found</h2>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>DVD Number</th>
            <th>DVD Title</th>
            <th>Cast Memeber No</th>
            <th>Actor First Name</th>
            <th>Actor Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.name)
        {
            <tr>
                <td>@item.dvdTitle.DVDNumber</td>
                <td>@item.dvdTitle.DVDTitleName</td>
                <td>@item.castMember.CastMemberNo</td>
                <td>@item.actorDetails.ActorFirstName</td>
                <td>@item.actorDetails.ActorSurname</td>

                @*     <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

            </tr>
        }
    </tbody>
</table>
}