@{
    ViewData["Title"] = "GetActorsLoanCopy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetActorsLoanCopy</h1>
<style>
    .bg-custom {
        background-color: #E50914;
    }

</style>

<div class="container">
    <form action="@Url.Action("GetActorCopy", "NormalUser")" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="surname" name="surname" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a actor surname</option>
                        @foreach (var name in ViewBag.actorName)
                        {
                            <option value="@name.ActorSurname"> @name.ActorFirstName @name.ActorSurname</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary mt-4">Search ></button>
            </div>
        </div>
    </form>
</div>

<table class="table text-light mt-4">
    <thead class="bg-custom">
        <tr style='font-size:20px; '>
            @*<th>ActorFirstName</th>*@
            <th >DVD Title Name</th>
            <th >Stock Left</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.name)
        {
            var StockLeft = @item.Stock - @item.LoanCount;
            <tr>
                <td>@item.DVDTitleName</td>
                <td>@StockLeft</td>
                @* <td>@item.dvdCopy.Stock</td>*@


                @*     <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

            </tr>
        }
    </tbody>
</table>
