
@{
    ViewData["Title"] = "GetDateOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetDateOut</h1>
        <script>
        function getInputValue(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("ActorSurName").value;
            $.get("/NormalUser/GetActorDetails",{name:"Smith"},function(){
              alert(inputVal)
            });
            // Displaying the value
           
        }
    </script>

<div class="container">
    <form action="@Url.Action("GetActionDetails", "NormalUser")" method="get">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <input id="ActorSurName" name="ActorSurName" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
             @*      <input type="button" value="Search" onclick="location.href='@Url.Action("GetActorDetails", "NormalUser", new {name = "Smith"})'" />*@
                    <input type="button" value="Search" onclick="getInputValue();" />
                </div>
            </div>
        </div>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>DVD Title Name</th>
            <th>Copy Number</th>
            <th>Date Out</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.date)
        {
            <tr>
                <td>@item.dvdTitle.DVDTitleName</td>
                <td>@item.dvdCopy.CopyNumber</td>
                <td>@item.loan.DateOut</td>
                

                @*     <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

            </tr>
        }
    </tbody>
</table>

