@model IEnumerable<RopeyDVDs.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table-custom table text-light">
    <thead class="bg-custom">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategory.MembershipCategoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipFirstName)
            </th>
            <th>Issue Copy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:210px">
                    @Html.DisplayFor(modelItem => item.MembershipNumber)
                </td>
                <td style="width:210px">
                    @Html.DisplayFor(modelItem => item.MembershipCategory.MembershipCategoryNumber)
                </td>
                <td style="width:210px">
                    @Html.DisplayFor(modelItem => item.MembershipFirstName)
                </td>

                <td style="width:210px">
                    <a href="@Url.Action("AddDVDCopy","Assistant",new { item.MembershipNumber} )" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Update">Issue DVD Copy</a>

                    @*     <a asp-action="Details" asp-route-id="@item.MembershipNumber">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MembershipNumber">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
