
@{
    ViewData["Title"] = "GetLoanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of last loan for the copy</h1>
    <form action="@Url.Action("GetLoanDetails", "Assistant")" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="ActorSurName" class="control-label"></label>
                    <select id="copynumber" name="copynumber" class="form-control custom-select bg-white border-left-0 border-md" required>
                        <option value="">Select a copy number</option>
                        @foreach (var copy in ViewBag.copyNumber)
                        {
                            <option value="@copy.CopyNumber">Copy Number: @copy.CopyNumber</option>
                        }
                    </select>
                </div>
            </div>
                <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary mt-4">Search ></button>
            </div>
        </div>
    </form>


@if (ViewBag.loanDetails == null)
{
    <h2>Not Found</h2>
}
else
{

    {
        <table class="table text-light mt-4">
            <thead class="bg-custom">
                <tr>
                    <th>Copy Number</th>
                    <th>DVD Title Name</th>
                    <th>Member Firstname</th>
                    <th>Member Lastname</th>
                    <th>Member Address</th>
                    <th>Member DOB</th>
                    <th>Date Out</th>
                    <th>Date Due</th>
                    <th>Date Returned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.loanDetails)
                {
                    <tr>
                        <td>@item.CopyNumber</td>
                        <td>@item.DVDTitleName</td>
                        <td>@item.MembershipFirstName</td>
                        <td>@item.MembershipLastName</td>
                        <td>@item.MembershipAddress</td>
                        <td>@item.MemberDOB</td>
                        <td>@item.DateOut</td>
                        <td>@item.DateDue</td>
                        <td>@item.DateReturned</td>

                        @*     <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@

                    </tr>
                }
            </tbody>
        </table>
    }
}