@{
    ViewData["Title"] = "GetDVDofNoLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Total loans a member has taken</h1>
<style>
    .custom-container {
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
    }
</style>
<table class="table table-custom text-light">
    <thead class="bg-custom">
        <tr>
            <th>Membership First Name</th>
            <th>Membership Category Number</th>
            <th>Allowed Loans</th>
            <th>Total Loans</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.totalloans)
        {
            <tr>

                <td style="width:210px">@item.MembershipFirstName</td>
                <td style="width:210px">@item.MembershipCategoryNumber</td>
                <td style="width:180px">@item.MembershipCategoryTotalLoans</td>
                @if (int.Parse(@item.MembershipCategoryTotalLoans) >= @item.TotalLoans)
                {
                    <td style="width:180px; ">@item.TotalLoans</td>
                }
                else
                {

                    <td style="width:180px; color:red;">Too many loans</td>
                }
            </tr>


        }
    </tbody>
</table>

