@{
    ViewData["Title"] = "ListAllLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details of DVD currently on loan</h1>
<table class="table">
    <thead>
        <tr>
            <th>Copy Number</th>
            <th>Membership FirstName</th>
            <th>Date Due</th>
            <th>Date Returned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.loanDetails)
        {
            <tr>
                <td style="width:160px">@item.loan.CopyNumber </td>
                <td style="width:200px">@item.member.MembershipFirstName </td>
                <td style="width:160px">@item.loan.DateDue </td>
                <td style="width:160px">@item.loan.DateReturned </td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a href="@Url.Action("EditDVDCopyDetails","Assistant",new { item.loan.CopyNumber} )" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Update">Update</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

